@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', 'Roboto Slab', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', 'Poppins', serif;
}
.engineering-theme-bg {
  @apply bg-blueprint bg-engineering-grid;
}

body {
  margin: 0;
  padding: 0;
}
